apiVersion: kuadrant.io/v1
kind: AuthPolicy
metadata:
  name: mcp-lab-authentication
  namespace: openshift-ingress
spec:
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: mcp-gateway
    sectionName: mcp
  defaults:
    when:
      - predicate: "!request.path.contains('/.well-known')"
    rules:
      authentication:
        keycloak:
          jwt:
            issuerUrl: __KEYCLOAK_ISSUER__
      response:
        unauthenticated:
          code: 401
          headers:
            WWW-Authenticate:
              value: 'Bearer resource_metadata="__MCP_METADATA_URL__"'
          body:
            value: |
              {"error":"Unauthorized","message":"Authentication required."}
